<!DOCTYPE html>
<!--data-color-scheme="dark"-->
<html  data-theme="{{ .flags.Theme }}" lang="en">
	<head>
		{{ template "partials/head" . }}
	</head>
	<body
		{{ if .flags.Sidebar }}data-flags="sidebar"{{ end }}
		data-color-scheme="{{ .flags.Theme }}">
		<a href="#content">Skip to content</a>
		{{ if .flags.Sidebar }}
			{{ template "partials/sidebar" . }}
		{{ else }}
			{{ template "partials/nav" . }}
		{{ end }}
		<main id="content">{{ embed }}</main>
		{{ template "partials/footer" . }}
	</body>
</html>
